<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript" ></script>
<script>
$(document.ready(function(){
	$.ajax({
		type: 'GET',
		dataType: "json",
		contentType: "application/json",
		url: '${pageContext.request.contextPath}/graficos/chamados',
		success: function (result) {
			google.charts.load('current',{
				'packages':['corechart']
			});
			google.charts.setOnloadCallback(function (){
				drawChart(result);
			});
		}
	});
	
	function drawChart(result){
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'equipamento.eqmodelo');
		data.addColumn('number', 'equipamento.id.value');
		var dataArray = [];
		$.each(result, function(i, obj){
			dataArray.push([obj.modelo, obj.quantidade]);
		});
		
		data.addRows(dataArray);
		var piechart_options = {
				tilte: 'Grafico: Total de chamados por modelo de equipamento',
				width: 400,
				height: 300
		};
		var piechart = new google.visualization.PieChart(
				document.getElementById('piechart_div'));
		piechart.draw(data,piechart_options);
		
	}
})
</script>
</head>
<body>
</body>
</html>