<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

		<section class="jumbo text-center">
			<img class="d-block mx-auto" th:src="@{/image/brasao_sao_vicente.png}"
				width="50" height="50">
			<div class="container">
				<h1 class="jumbo-heading">Chamados técnicos</h1>
				<p class="lead text-muted"></p>
			</div>
			<nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span></span>
	                    </li>
	                </ul>
	            </div>
	            <a class="btn btn-primary btn-md" th:href="@{/tecnicos/cadastrar}" role="button">
	                <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                <span>Novo Técnico</span>
	            </a>
	        </nav>
		</section>

		<div class="container" id="listagem">
			<div class="table-responsive">
				<div th:replace="fragments/alert"></div>

				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Nº</th>
							<th>Data de Abertura</th>
							<th>Série</th>
							<th>Setor</th>
							<th>Solicitante</th>
							<th>Situação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${chamados}" disable="false">
							<td th:text="${c.id}">1</td>
							<td	th:text="${#temporals.format(c.chDataAbertura, 'dd/MM/yyyy')}">Data</td>
							<td	th:text="${c.equipamento.eqModelo} + ' '+ ${c.equipamento.eqSeriebp}">Equipamento</td>
							<td th:text="${c.setor.setNome}">Setor</td>
							<td th:text="${c.solicitante.nome}">Setor</td>
							<td th:text="${c.chSituacao.descricao}">Situação</td>
							<td colspan="1">
							<!-- <a class="btn btn-info btn-sm"	th:href="@{/chamados/editar/{id} (id=${c.id}) }" role="button">
									<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
							</a> -->
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td rowspan="2">Total:</td>
							<td th:text="${#lists.size(chamados)}"></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>

		</main>
		
	</section>
	
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>