<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
     <div class="container col-md-10">
			<img class="d-block mx-auto" th:src="@{/image/brasao_sao_vicente.png}" width="50" height="50">
			<h1 class="jumbotron-heading">Solicitação de Serviços</h1>
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Lista de Chamados</span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/chamados/cadastrar}"
				role="button"> 
				<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> 
				<span>Novo Chamado</span>
			</a> 
			<a class="btn btn-primary btn-md" th:href="@{/chamados/buscar}"
				role="button"> 
				<span class="oi oi-plus" title="Lista de Chamados" aria-hidden="true"></span> 
				<span>Painel</span>
			</a>
		</nav>
	</div>
		<div class="container" id="listagem">
			<div class="table-responsive">
				<div th:replace="fragments/alert"></div>

				<table class="table table-dark table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Nº</th>
							<th>Data de Abertura</th>
							<th>Série</th>
							<th>Setor</th>
							<th>Solicitante</th>
							<th>Situação</th>
							<th>Editar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${chamados}">
							<td th:text="${c.id}">1</td>
							<td th:text="${#temporals.format(c.chDataAbertura, 'dd/MM/yyyy')}">2017/08/14</td>
							<td th:text="${#temporals.format(c.chDataFechamento, 'dd/MM/yyyy')}">2017/08/14</td>
							<td	th:text="${c.equipamento.eqModelo} + ' '+ ${c.equipamento.eqSeriebp}">Equipamento</td>
							<td th:text="${c.setor.setNome}">Setor</td>
							<td th:text="${c.solicitante.nome}">Setor</td>
							<td th:text="${c.chSituacao.descricao}">Situação</td>
							<td colspan="2">
							<a class="btn btn-info btn-sm"	th:href="@{/chamados/editar/{id} (id=${c.id}) }" role="button">
									<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
							</a>
							<button th:id="${'btn_chamados/excluir/' + c.id}"
									type="button" class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x" title="Exclusão desabilitada"
										aria-hidden="true"></span>
							</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td rowspan="2">Total:</td>
							<td th:text="${#lists.size(chamados)}"></td>
						</tr>
					</tfoot>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><a class="page-link" href="#"
							tabindex="-1">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>

	</section>
</body>
</html>
