<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">

		<div class="container col-md-10">
			<img class="d-block mx-auto" th:src="@{/image/brasao_sao_vicente.png}" width="50" height="50">
			<h1 class="jumbotron-heading">Lista de usuários</h1>
			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span></span></li>
					</ul>
					<a class="btn btn-primary btn-md" th:href="@{/usuarios/cadastrar}"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo Usuário</span>
					</a>
				</div>
			</nav>
		</div>

		<div class="container" id="listagem">
	
				<div th:replace="fragments/alert"></div>
	            <form class="form-group" action="email" method="GET">
	        	  <label>Pesquisar: </label>
        	      <input name="email" />
        	      <input class="waves-effect btn-primary btn" type="submit" value="Buscar" />
	        	</form>
	            <div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Nº</th>
							<th>Email</th>
							<th>Perfil</th>
							<th>Setor</th>
							<th>Ativo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="u : ${usuarios}">
							<td th:text="${u.id}">3</td>
							<td th:text="${u.email}">E-mail</td>
							<td th:each="p :${u.perfis}" th:text="${p.desc}">E-mail</td>
							<td th:text="${u.setor.setNome}">Setor</td>
							<td th:text="${u.ativo} ? 'Sim' : 'Não'">Ativo</td>
							<td colspan="2"><a class="btn btn-info btn-sm"
								th:href="@{/usuarios/editar/{id} (id=${u.id}) }" role="button">
									<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
							</a>
								<button th:id="${ 'btn_usuarios/excluir/' + u.id}" type="button"
									class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x" title="Exclusão desabilitada"
										aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td rowspan="2">Total:</td>
							<td th:text="${#lists.size(usuarios)}"></td>
						</tr>
					</tfoot>
				</table>
			</div>
	        </div>
	        
			<div th:replace="fragments/modal :: modal"></div>
			
	    </section>
</body>
</html>		