<!DOCTYPE html >
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<!-- Modal -->
	<div th:fragment="setor-modal" class="modal fade"
		id="setor" tabindex="-1" role="dialog"	aria-labelledby="myModaLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<span><i class="fas fa-exclamation-triangle"></i></span>
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="myModal-label">Cadastrar Setor</h4>
				</div>
				<div class="modal-body">
					<form	id="form-edit-setor"action="@{/setores/editar}" method="PUT">

						<div th:replace="fragments/validacao  :: validacao"></div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="nome">Nome do Setor</label> <input type="text"
									class="form-control" id="nome" placeholder="Nome do Setor"
									autofocus="autofocus" th:field="*{setNome}"
									th:classappend="${#fields.hasErrors('setNome')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{setNome}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="ramal">Ramal</label> <input type="text" id="ramal"
									data-mask="0000" class="form-control"
									placholder="Ramal do setor" autofocus="autofocus"
									th:field="*{setRamal}"
									th:classappend="${#fields.hasErrors('setRamal')} ? 'is-invalid'">
								<div class="invalid-feedback">
									<span th:errors="*{setRamal}"></span>
								</div>
							</div>
						</div>
						<input type="hidden" id="id" th:field="*{id}" />
						<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
					</form>

				</div>
				<div class="modal-footer">
					<button id="btnCancel" type="button" class="btn btn-danger"
						data-dismiss="modal">Cancelar</button>
					<button id="btnOk" type="button" class="btn btn-success">Confirmar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>