<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
   <div class="container col-md-10">
			<img class="d-block mx-auto"
				th:src="@{/image/brasao_sao_vicente.png}" width="70" height="70">
			<h1 class="jumbotron-heading">Solicitação de Serviços</h1>
			<p class="lead text-muted">Dados do Técnico</p>
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span></span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/tecnicos/cadastrar}"
				role="button"> <span class="oi oi-spreadsheet" title="Cadastro"
				aria-hidden="true"></span> <span>Cadastrar Técnico</span>
			</a>
		</nav>
	</div>
		<div class="container" id="cadastro">
			<div th:replace="fragments/alert"></div>

			<form
				th:action="${tecnico.id == null} ? @{/tecnicos/salvar} : @{/tecnicos/editar}"
				th:object="${tecnico}" method="POST">

				<div th:replace="fragments/validacao  :: validacao"></div>

				<div class="form-row">
					<div class="form-group col-md-5">
						<label for="nome">Nome</label> 
						<input type="text"	class="form-control" id="nome" placeholder="Nome do Técnico"
							autofocus="autofocus" th:field="*{setNome}"
							th:classappend="${#fields.hasErrors('setNome')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{setNome}"></span>
						</div>
					</div>
					<div class="form-group col-md-5">
						<label for="usuario">Email</label> 
						<input type="email"	class="form-control" id="usuario" placeholder="Login de usuário"
							autofocus="autofocus" th:field="*{usuario.email}"
							th:classappend="${#fields.hasErrors('usuario.email')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{usuario.email}"></span>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label for="data-cadastro">Cargo</label> 
						<input type="text" class="form-control" id="cargo"
							placeholder="Cargo do Técnico" autofocus="autofocus"
							th:field="*{cargo}"
							th:classappend="${#fields.hasErrors(cargo')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{cargo}"></span>
						</div>
					</div>
					<div class="form-group col-md-5">
						<label for="setor">Nome do Setor</label> 
						<select id="setor"
							class="form-control" th:field="*{setor}"
							th:classappend="${#fields.hasErrors('setor')} ? 'is-invalid'">
							<option value="">Selecione</option>
							<option data-section="select" th:each="s : ${setores}"
								th:value="${s.id}" th:text="${s.setNome}">Selecione...</option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{setor.setNome}"></span>
						</div>
					</div>
				</div>


				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
				
				
			</form>
		</div>
	</section>
</body>
</html>
