<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
     <div class="container col-md-10">
			<img class="d-block mx-auto" th:src="@{/image/brasao_sao_vicente.png}" width="50" height="50">
			<h1 class="jumbotron-heading">Lista de Equipamentos</h1>
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<i class="oi oi-caret-right"></i>
						<span></span></li>
				</ul>
				<a class="btn btn-primary btn-md"
					th:href="@{/equipamentos/cadastrar}" role="button"> <span
					class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> <span>Novo
						Equipamento</span>
				</a>
			</div>
		</nav>
      </div>
		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

              <form class="form-group" action="descricao" method="GET">
				<label>Pesquisar: </label> 
				<input name="descricao" /> <input
					class="waves-effect btn-primary btn" type="submit" value="Buscar" />

			  </form>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Nº</th>
							<th>Descrição</th>
							<th>Modelo</th>
							<th>Patrimônio/série</th>
							<th>Tipo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e : ${equipamentos}">
							<td th:text="${e.id}">3</td>
							<td th:text="${e.eqDescricao}">Descrição</td>
							<td th:text="${e.eqModelo}">Modelo</td>
							<td th:text="${e.eqSeriebp}">Série</td>
							<td th:text="${e.tipo.descricao}">Tipo</td>
							<td colspan="2"><a class="btn btn-info btn-sm"
								th:href="@{/equipamentos/editar/{id} (id=${e.id}) }"
								role="button"> <span class="oi oi-brush" title="Editar"
									aria-hidden="true"> </span>
							</a>
								<button th:id="${'btn_equipamentos/excluir/' + e.id}"
									type="button" class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x" title="Exclusão desabilitada"
										aria-hidden="true"></span>
								</button></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td rowspan="2">Total:</td>
							<td th:text="${#lists.size(equipamentos)}"></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
